<div class="dashboard-background">
<!--   <h1 class="main-title"><a> <%= link_to 'studio bid', root_path %></a> </h1> -->

  
<div class="main-container">


     <div class="my-details">
       
       <h4>Welcome <%= @current_user.name %></h4><% @current_user.email %></p>
       <div class="dashboard-buttons"><span class="btn btn-small submit"><%= link_to 'Home', root_path  %></span>
       <span class="btn btn-small submit"><%= link_to 'Edit Account',edit_user_registration_path %></span>
       <span class="btn btn-small submit"><%= link_to "Log out", destroy_user_session_path, method: :delete %></span>
       <span class="btn btn-small submit"><%= link_to 'Search', welcomes_search_path %></span>
       <span class="btn btn-small submit"><%= link_to 'View Adverts', adverts_path  %></span>
      </div>
     </div> 





     <div class="my-adverts">
       <h3>My Adverts</h3>
       <% @current_user_adverts.each do |advert| %>
       <button class="btn btn-small submit"> Edit My Advert </button>Advert Name: <%= advert.name %>

       <% end %>
     </div>


    <div class="my-bids">
      <h3> My Bids </h3>
    
     
      <% @current_user_adverts.each do |advert| %>
        <% advert.bids.each do |bid| %>
          <div class="current-bid">
              <div class="bid">
              Advert: <%= advert.name %>
              <br>
              Bid: £<%=bid.amount %>
              Date made: <%= advert.created_at.to_formatted_s(:short) %>
            
              <button class="accept" data-id=<%= bid.id %>>Accept</button>
              <button class="reject" data-id=<%= bid.id %>>Reject</button>
              </div>
          </div> 
        <% end %>
      <% end %>
   </div>
</div>



