<!-- menu sidebar  -->

<div id="menu-toggle">
  <div id="menu-icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  Menu
</div>
<div id="menu-overlay"></div>
<ul id="menu">

  <li><a><% if current_user %>
   <%= current_user.email %>
   <%= link_to "Log out", destroy_user_session_path, method: :delete %> 
   <% else %>
    <li><%= link_to "Sign In", new_user_session_path %></li>
    <li><%= link_to "Register", new_user_registration_path %></li>
    <% end %><a></li>
  <li><class="" data-toggle="modal" data-target=".bs-example-modal-sm">Search</li>

  <li><class="dash-button" data-toggle="modal" data-target=".bs-example-modal-lg">About</a>
    <!-- <ul>
      <li></li> -->
      <!-- <li><a href="#">hello.......</a></li> -->

      <!-- <li><a href="#">Got kids of my own...hello???</a> -->
 <!--        <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </li> -->
    <!-- </ul> -->
  </li>
  <li><a href="#">Hello.........</a>
    <ul>
      <li><class="jeremy"><img src="jeremy.png"></li>
    </ul>
  </li>
</ul>


<!-- Main buttons on hire or sell buttons -->

<div id="page-content">
<!--   <h1>studio bid....</h1> -->
    <ul>
      <li><button class="hire-space"><%= link_to 'I need to hire space', adverts_path  %>
      </button></li>
      <% if user_signed_in? %> 
      <li><button class="space-hire"><%= link_to 'I have space to hire', new_advert_path %>
      </button></li>
      <% else %> 
      <li><button class="space-hire"><%= link_to 'I have space to hire', new_user_session_path %></button></li>
    </ul>
    <% end %> 
  </div>
</div>



<!-- old main page code -->

<!-- <h1 class="main-title"><%= link_to 'studio bid', root_path %></h1> -->

<!-- <div class="main-page-buttons">
<ul class="menu-options">
  <% if current_user %>
   <%= current_user.email %>
   <%= link_to "Log out", destroy_user_session_path, method: :delete %> 
   <% else %>
    <li><button class="dash-button"><%= link_to "Sign In", new_user_session_path %></button></li>
    <li><button class="dash-button"><%= link_to "Register", new_user_registration_path %></button></li>
    <% end %>  -->  


<!-- about modal -->

<!-- <li><button type="button" class="dash-button" data-toggle="modal" data-target=".bs-example-modal-lg">about</button></li> -->

<!-- about modal -->

 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
      
       <h2> how it works </h2>

       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis praesentium nisi in iure perferendis, modi consequuntur aliquam alias ea ipsum debitis cupiditate maxime enim at suscipit labore consequatur, eum quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aut tenetur voluptas, ut, tempore perferendis enim harum praesentium itaque labore doloremque veniam vero dicta. Saepe dolorem nisi accusantium! Quis, provident? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio aliquid asperiores perferendis, dolore mollitia, repellendus nulla et libero nostrum at ab ad ea modi unde ducimus alias obcaecati, reprehenderit minima?</p>

       <h2> star rating </h2>


       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque accusamus, perferendis magnam beatae. Magnam, aliquid voluptate adipisci aperiam ut! Velit alias earum consequuntur recusandae ex molestiae nulla et omnis, corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas magni consequatur cumque rerum ratione omnis, ex deleniti voluptatum quas quasi minima pariatur molestiae facilis nobis asperiores labore quisquam alias! Quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet rem dolorum unde incidunt delectus minus nam dolorem inventore, voluptatibus numquam corporis dolore commodi, animi culpa enim laborum. Repudiandae, labore. </p>

    
    <li><button class="dash-button"> <%= link_to 'Back', root_path  %></button></li>
    <li><button class="dash-button"><%= link_to "Register", new_user_registration_path %></button></li>
    
     </div>
   </div>
 
</div>
<!-- search modal -->
<!-- <li><button type="button" class="dash-button" data-toggle="modal" data-target=".bs-example-modal-sm">search</button></li>
 -->

 <!-- search modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    SEARCH BOX GOES HERE 
    <li><button class="dash-button"> <%= link_to 'Back', root_path  %></button></li>
    </ul>
    </div>
  </div>
</div>
</div>


<!-- 
  <div class="main-buttons">
    <ul>
      <li><button class="hire-space"><%= link_to 'I need to hire space', adverts_path  %>
      </button></li>
      <% if user_signed_in? %> 
      <li><button class="space-hire"><%= link_to 'I have space to hire', new_advert_path %>
      </button></li>
      <% else %> 
      <li><button class="space-hire"><%= link_to 'I have space to hire', new_user_session_path %></button></li>
    </ul>
    <% end %> 
  </div> -->
