
<h1 class="main-title"><%= link_to 'studio bid', root_path %></h1>


<ul class="menu-options">
  <% if current_user %>
   <%= current_user.email %>
   <%= link_to "Log out", destroy_user_session_path, method: :delete %> 
   <% else %>
    <li><button class="sign-in-button"><%= link_to "Sign In", new_user_session_path %></button></li>
      <li><button class="register-button"><%= link_to "Register", new_user_registration_path %></button></li>
    <% end %>   
</ul>



<div class="main-buttons">
    <button class="hire-space"><%= link_to 'I need to hire space', adverts_path  %>
    </button>
    <% if user_signed_in? %> 
    <button class="space-hire"><%= link_to 'I have space to hire', new_advert_path %>
    </button>
    <% else %> 
    <button class="space-hire"><%= link_to 'I have space to hire', new_user_session_path %></button>
    <% end %> 
</div>

<!-- about modal -->

 <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">about</button>

 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
      
       <h2> how it works </h2>

       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis praesentium nisi in iure perferendis, modi consequuntur aliquam alias ea ipsum debitis cupiditate maxime enim at suscipit labore consequatur, eum quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aut tenetur voluptas, ut, tempore perferendis enim harum praesentium itaque labore doloremque veniam vero dicta. Saepe dolorem nisi accusantium! Quis, provident? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio aliquid asperiores perferendis, dolore mollitia, repellendus nulla et libero nostrum at ab ad ea modi unde ducimus alias obcaecati, reprehenderit minima?</p>

       <h2> star rating </h2>


       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque accusamus, perferendis magnam beatae. Magnam, aliquid voluptate adipisci aperiam ut! Velit alias earum consequuntur recusandae ex molestiae nulla et omnis, corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas magni consequatur cumque rerum ratione omnis, ex deleniti voluptatum quas quasi minima pariatur molestiae facilis nobis asperiores labore quisquam alias! Quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet rem dolorum unde incidunt delectus minus nam dolorem inventore, voluptatibus numquam corporis dolore commodi, animi culpa enim laborum. Repudiandae, labore. </p>

       <ul class="about-buttons">
       <li><button class="btn btn-default"> <%= link_to 'Back', root_path  %></button></li>
       <li><button class="btn btn-default"><%= link_to "Register", new_user_registration_path %></button></li>
       </ul>
     </div>
   </div>
 </div>

<!-- search modal -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">search</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    SEARCH BOX GOES HERE 
    <button class="btn btn-default"> <%= link_to 'Back', root_path  %></button>
    </div>
  </div>
</div>

<!-- dashboard if user signed in -->

<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
            </div>
            <div class="row">
              <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
              <div class="col-md-2 col-md-offset-4">.col-md-2 .col-md-offset-4</div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
            </div>
            <div class="row">
              <div class="col-sm-9">
                Level 1: .col-sm-9
                <div class="row">
                  <div class="col-xs-8 col-sm-6">
                    Level 2: .col-xs-8 .col-sm-6
                  </div>
                  <div class="col-xs-4 col-sm-6">
                    Level 2: .col-xs-4 .col-sm-6
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->