

<h1 class="main-title"><%= link_to 'studio bid', root_path %></h1>

<div class="main-page-buttons">
<ul class="menu-options">
  <% if current_user %>
   <%= current_user.email %>
   <%= link_to "Log out", destroy_user_session_path, method: :delete %> 
   <% else %>
    <li><button class="dash-button"><%= link_to "Sign In", new_user_session_path %></button></li>
    <li><button class="dash-button"><%= link_to "Register", new_user_registration_path %></button></li>
    <% end %>   




<li><button type="button" class="dash-button" data-toggle="modal" data-target=".bs-example-modal-lg">about</button></li>

 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
      
       <h2> how it works </h2>

       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis praesentium nisi in iure perferendis, modi consequuntur aliquam alias ea ipsum debitis cupiditate maxime enim at suscipit labore consequatur, eum quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque aut tenetur voluptas, ut, tempore perferendis enim harum praesentium itaque labore doloremque veniam vero dicta. Saepe dolorem nisi accusantium! Quis, provident? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio aliquid asperiores perferendis, dolore mollitia, repellendus nulla et libero nostrum at ab ad ea modi unde ducimus alias obcaecati, reprehenderit minima?</p>

       <h2> star rating </h2>


       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque accusamus, perferendis magnam beatae. Magnam, aliquid voluptate adipisci aperiam ut! Velit alias earum consequuntur recusandae ex molestiae nulla et omnis, corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas magni consequatur cumque rerum ratione omnis, ex deleniti voluptatum quas quasi minima pariatur molestiae facilis nobis asperiores labore quisquam alias! Quas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eveniet rem dolorum unde incidunt delectus minus nam dolorem inventore, voluptatibus numquam corporis dolore commodi, animi culpa enim laborum. Repudiandae, labore. </p>

    
    <li><button class="dash-button"> <%= link_to 'Back', root_path  %></button></li>
    <li><button class="dash-button"><%= link_to "Register", new_user_registration_path %></button></li>
    
     </div>
   </div>
 
</div>
<!-- search modal -->
<li><button type="button" class="dash-button" data-toggle="modal" data-target=".bs-example-modal-sm">search</button></li>



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    SEARCH BOX GOES HERE 
    <li><button class="dash-button"> <%= link_to 'Back', root_path  %></button></li>
    </ul>
    </div>
  </div>
</div>
</div>



  <div class="main-buttons">
    <ul>
      <li><button class="hire-space"><%= link_to 'I need to hire space', adverts_path  %>
      </button></li>
      <% if user_signed_in? %> 
      <li><button class="space-hire"><%= link_to 'I have space to hire', new_advert_path %>
      </button></li>
      <% else %> 
      <li><button class="space-hire"><%= link_to 'I have space to hire', new_user_session_path %></button></li>
    </ul>
    <% end %> 
  </div>

  
  <footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt voluptate aut distinctio libero a obcaecati quae ea quidem nesciunt, delectus, minima vero beatae expedita laudantium quas consequuntur possimus tenetur officia?</p>

  </footer>

