<p id="notice"><%= notice %></p>

<h1>Listing Adverts</h1>
<button class="standard-button"> <%= link_to 'Home', root_path  %></button>

    <% @adverts.each do |advert| %>
    <dialog id="myDialog">This is a dialog window</dialog>
        <p><%= advert.name %></p>
        <p><%= advert.avatar %></p>
        <!-- button goes here -->
        <!-- wrap this in modal -->
            <p><%= advert.name %></p>
            <p><%= advert.sector %></p>
            <p><%= advert.address %></p>
            <p><%= advert.postcode %></p>
            <p><%= advert.size %></p>
            <p><%= advert.facilities %></p>
            <p><%= advert.seller_id %></p>
            <p><%= advert.date_time %></p>
            <p><%= advert.availability %></p>
        <!-- wrap this in modal -->

     <%= link_to 'More Info', advert, class: "btn btn-default"%>
      
      <p><%= link_to 'Edit', edit_advert_path(advert) %></p>
        
      <p><%= link_to 'Destroy', advert, method: :delete, data: 
      { confirm: 'Are you sure?' } %></p>
  
    <% end %>



<% link_to 'New Advert', new_advert_path %>
