<p id="notice"><%= notice %></p>

<h1>Listing Adverts</h1>
<button class="standard-button"> <%= link_to 'Home', root_path  %></button>

<% @adverts.each do |advert| %>

<div class="ad-box">
    <ul class="listings">
    <li><%= advert.name %></li>
    <li><%= advert.sector %></li>
    <li><%= advert.address %></li>
    <li><%= advert.postcode %></li>
    <li><%= advert.size %></li>
    <li><%= advert.facilities %></li>
    <li><%= advert.seller_id %></li>
    <li><%= advert.date_time %></li>
    <li><%= advert.availability %></li>
    </ul>   
    <button class="advert-info"><%= link_to 'More Info', advert %></button>
    <% end %>  
</div>


<% link_to 'New Advert', new_advert_path %>
